*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    top: 0;
    border: solid;
    width: 100%;
}
ul{
    border: solid;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2vw;
}
a{
    text-decoration: none;
}