body{
  background-color: rgb(223, 212, 212);
}
#root{
display: flex;
align-items: center;
justify-content: center;
}
.App {
  text-align: center;
}

p{
  border-bottom: solid;
}
input{
  width: 70vw;
  border: none;
  border-bottom: solid 3px rgb(61, 28, 44);
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
}
.container{
  text-align: center;
  width: 70vw;

  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
}