.App{
text-align: center;
}

a,input{
  text-decoration: none;
  border: solid;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

img {
  margin: 5% 5%;
  position: relative;
  /* width: 100px; */
  /* transform: scale(1.25); */
  transition: transform 1s;

}

img:hover{
  transform: scale(1.5);
bottom : 10px;
}

.inLine{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.container{
  display: grid;
  margin-top: 5%;
  grid-template-columns: repeat(6, 1fr);
}