*{
    margin: 0;
}
body{
    background-color: rgb(184, 184, 189);
}
nav{
    background-color: rgb(17, 26, 84);
    text-align: center;

}
a{
    color: white;

    font-size: 200%;
    text-decoration: none;
    padding: 5%;
}
a:hover, button:hover{
    color: rgb(100, 164, 241);
}
.not_visible{
    display: none;
}
form{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 5% 8%;
    font-size: 200%;
    text-align: center;
    border: solid;
    padding: 50px;
    background-color: rgb(17, 26, 84);
}
form>input,textarea,form>button{
    font-size: 120%;
    margin-bottom: 10px;
}

div{
    text-align: center;
    border: solid 3px;
    border-style: double;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5%;
    color: white;
    font-size: 1.5em;
}
div>p{
    padding: 10px;
}
div>button{
    width: fit-content;
    height: fit-content;
    font-size: 100%;
    position: relative;
    left: 80%;
    top: -9%;
    color: white;
    margin-top: 2%;
    background-color: #eeeeee37;
    border-radius: 20px;
}
.two_columns{
    grid-column:  1 / span 2;
}
.pointer{
    cursor: pointer;
}

.green{
    background-color: #56966d;
}
.red{
    background-color: #e35757;
}
.grey{
    background-color: gray;
}