*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(backgr.png);
    background-color: rgba(234, 228, 228, 0.478);
}
header{
    background-color: blueviolet;
    padding: 1vw;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(162, 255, 33);
    height: 10vh;
}
h5{
    font-size: 1.5em;
}
input{
    width: 50vw;
    font-size: 1.5em;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#container>div{
    text-align: center;
    border: solid;
    border-radius: 20%;
    background-color: rgba(156, 73, 234, 0.527);
    margin: 5vw;
    position: relative;
}
#container>div:hover{
    bottom: 3vh;
}
#container img{
    border-radius: 50%;
    background-color: rgba(248, 244, 244, 0.474);
    width: 80%;
}
#container p{
    color: rgb(162, 255, 33);
    font-weight: bold;
    margin: 2vw;
}
.display-block{
    display: block;
}
.not-visible{
    display: none;
}