*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1599fe;
  padding: 1.5rem;
  font-size: 1.2em;
}
.main_container{
  margin-top: 5.1rem;
}
.fr-spc-bw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: inline-block;
}
li, a{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
}
nav, a {
  color: white;
}
.fc-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  left: 0;
  padding: 1%;
  width: 70vw;
}
.drop_down{
display: flex;
flex-direction: column;
border: solid 1px grey;
}
h2{
  text-align: center;
}
.card{
  border: solid;
  padding: 1rem;
  margin: 1rem;
}