*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1599fe;
  padding: 1.5rem;
  font-size: 1.2em;
}
.fr-spc-bw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: inline-block;
}
li, a{
  text-decoration: none;
  list-style: none;
  display: inline-block;
margin: 0 1rem;
}
nav, a {
  color: white;

}