.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 190, 232);
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 255, 109);
}
.data{
  background-color: rgb(204, 255, 109);;
  width: 50%;
  margin: 0;
  text-align: justify;
}