body{
margin: 0;
border: solid;
}
section{
    border: solid;
    width: 100vw;
    max-height: 100vw;
}
.row>div, .dim{
    width: 5vw;
    height: 5vw;
}
/* ********* Pattern 2 ********* */
#ex1{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}
#ex1>div:nth-child(3n+3){
    background-color: rgb(240, 152, 28);
}
#ex1>div:nth-child(3n+2){
    background-color: rgb(232, 212, 27);
}
#ex1>div:nth-child(3n+1){
    background-color: rgb(221, 33, 33);
}

/* ********* Pattern 2 ********* */

.row>div:nth-child(4n+4){
    background-color: rgb(78, 76, 76);
}
.row>div:nth-child(4n+3){
    background-color: rgb(113, 113, 113);
}
.row>div:nth-child(4n+2){
    background-color: rgb(180, 177, 177);
}
.row>div:nth-child(4n+1){
    background-color: rgb(228, 225, 225);
}
.row{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
#ex2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1vw;
}

/* ********* Pattern 2 ********* */
.ex3{
    height: 30vh;
    background-color:white;
background-image: linear-gradient(90deg, rgba(193, 41, 41, 0.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
background-size:50px 50px;
}